#app {
    background-color: #F7F8FA;
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    grid-template-columns: 70.5vw 29.5vw;
    grid-template-rows: 12.6vh 29.7vh 57.7vh;
    /* grid-template:
    "header header header header aside"
    "main main main main aside"
    "main main main main aside"
    "main main main main aside"; */
}
body{
    margin: 0px;
}
header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

main {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

aside {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}