#app {
    background-color: #E5E5E5;
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 20vh 30vh 50vh;
    /* grid-template:
    "header header header header aside"
    "main main main main aside"
    "main main main main aside"
    "main main main main aside"; */
}

header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

main {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

aside {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}